{% extends 'base.html' %} {% block content %}
<!-- <h3>
  This area will be for the information that the user is trying to view such as checklist progress.
</h3> -->
<style>
  .checklist {
    list-style: none;
    padding: 0;
    padding-left: 5%;
    max-width: 300px;
  }
  .check {
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    border-color: #b8433b;
  }
  .check {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 115%;
  }
  .save-btn {
    background-color: #0a3360;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
  }
  .save-btn:hover {
    background-color: #0a2d52;
  }
  input[type="checkbox"] {
    width: 100pt;
    height: 100pt;
  }
  input[type="text"] {
    width: auto;
    height: 12rem;
  }
</style>
<h1>Checklist for {{ checkup.customer.username }}</h1>
<form method="post">
  {% csrf_token %}
  <ul class="checklist">
    {% for form in formset %}
    <li class="check">{{ form.description }}: {{ form.is_completed }}</li>
    {% endfor %}
  </ul>
  <button type="submit" class="save-btn">Save Checklist</button>
</form>
<h1>{{ percentage }}</h1>
{% endblock %}
