{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Rebel Check Operations</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <!-- Bootstrap icons-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{%static "styles.css" %}">
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
      <div class="container px-5">
        <a class="navbar-brand fw-bold" href="">Rebel Check</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
            <li class="nav-item">
              <a class="nav-link me-lg-3" href="https://www.rebelcheck.com/contact">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-lg-3" href="https://www.rebelcheck.com/contact">Contact</a>
            </li>
          </ul>
          <button
            class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0"
            data-bs-toggle="modal"
            data-bs-target="#feedbackModal"
          >
            <span class="d-flex align-items-center">
              <i class="bi-chat-text-fill me-2"></i>
              <span class="small">Send Feedback</span>
            </span>
          </button>
        </div>
      </div>
    </nav>
    <!-- Mashead header-->
    <header class="masthead">
      <div class="container px-5">
        <div class="row gx-5 align-items-center">
          <div class="col-lg-6">
            <!-- Login/Sign-up Form -->
            <div class="login-wrap">
              <div class="login-html">
                <!-- Radio buttons for switching between Sign In and Sign Up -->
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked />
                <label for="tab-1" class="tab">Sign In</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" />
                <label for="tab-2" class="tab">Sign Up</label>

                <div class="login-form">
                  <!-- Sign In Section -->
                  <div class="sign-in-htm">
                    <form method="POST" action="">
                      {% csrf_token %}
                      <input type="hidden" name="action" value="login" />
                      <!-- Hidden field for action -->
                      <div class="group">
                        <label for="signin-user" class="label">Username</label>
                        <input id="signin-user" name="username" type="text" class="input" required />
                      </div>
                      <div class="group">
                        <label for="signin-pass" class="label">Password</label>
                        <input id="signin-pass" name="password" type="password" class="input" required />
                      </div>
                      <div class="group">
                        <input id="check" type="checkbox" class="check" />
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                      </div>
                      <div class="group">
                        <input type="submit" class="button" value="Sign In" />
                      </div>
                      <div class="hr"></div>
                      <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                      </div>
                    </form>
                  </div>

                  <!-- Sign Up Section -->
                  <div class="sign-up-htm">
                    <form method="POST" action="">
                      {% csrf_token %}
                      <input type="hidden" name="action" value="signup" />
                      <!-- Hidden field for action -->
                      <div class="group">
                        <label for="signup-user" class="label">Username</label>
                        <input id="signup-user" name="username" type="text" class="input" required />
                      </div>
                      <div class="group">
                        <label for="signup-pass" class="label">Password</label>
                        <input
                          id="signup-pass"
                          name="password1"
                          type="password"
                          class="input"
                          required
                        />
                      </div>
                      <div class="group">
                        <label for="signup-pass-repeat" class="label">Repeat Password</label>
                        <input
                          id="signup-pass-repeat"
                          name="password2"
                          type="password"
                          class="input"
                          required
                        />
                      </div>
                      <div class="group">
                        <label for="signup-email" class="label">Email Address</label>
                        <input id="signup-email" name="email" type="email" class="input" required />
                      </div>
                      <div class="group">
                        <input type="submit" class="button" value="Sign Up" />
                      </div>
                      <div class="hr"></div>
                      <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <!-- Masthead device mockup feature-->
            <div class="masthead-device-mockup">
              <svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="circleGradient" gradientTransform="rotate(45)">
                    <stop class="gradient-start-color" offset="0%"></stop>
                    <stop class="gradient-end-color" offset="100%"></stop>
                  </linearGradient>
                </defs></svg
              ><svg
                class="shape-1 d-none d-sm-block"
                viewBox="0 0 240.83 240.83"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect
                  x="-32.54"
                  y="78.39"
                  width="305.92"
                  height="84.05"
                  rx="42.03"
                  transform="translate(120.42 -49.88) rotate(45)"
                ></rect>
                <rect
                  x="-32.54"
                  y="78.39"
                  width="305.92"
                  height="84.05"
                  rx="42.03"
                  transform="translate(-49.88 120.42) rotate(-45)"
                ></rect></svg
              ><svg
                class="shape-2 d-none d-sm-block"
                viewBox="0 0 100 100"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="50" cy="50" r="50"></circle>
              </svg>
              <div class="device-wrapper">
                <div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="white">
                  <div class="">
                    <!-- PUT CONTENTS HERE:-->
                    <!-- * * This can be a video, image, or just about anything else.-->
                    <!-- * * Set the max width of your media to 100% and the height to-->
                    <!-- * * 100% like the demo example below.-->
                    <img
                      class="rebel_check"
                      src="{% static 'img/image (4).png' %}"
                      alt="..."
                      style="height: 3rem"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Quote/testimonial aside-->
    <aside class="text-center bg-gradient-primary-to-secondary">
      <div class="container px-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-xl-8">
            <div class="h2 fs-1 text-white mb-4">
              "An intuitive solution to a common problem that we all face, wrapped up in a single app!"
            </div>
          </div>
        </div>
      </div>
    </aside>
    <!-- App features section-->
    <!-- Footer-->
    <footer class="bg-black text-center py-5">
      <div class="container px-5">
        <div class="text-white-50 small">
          <div class="mb-2">&copy; Rebel Check 2025. All Rights Reserved.</div>
          <a href="#!">Privacy</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">Terms</a>
          <span class="mx-1">&middot;</span>
          <a href="#!">FAQ</a>
        </div>
      </div>
    </footer>
  </body>
</html>
