{% extends 'base.html' %} {% block content %}
<style>
  .main {
    color: var(--brand-blue);
  }
</style>
<div class="main">
  <h1>Edit User Profile</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <h2>Checkup History</h2>
  <ul>
    {% for checkup in checkups %}
    <li>
      <p><strong>Name:</strong> {{ checkup.name }}</p>
      <p><strong>Status:</strong> {{ checkup.status }}</p>
      <p><strong>Start Date:</strong> {{ checkup.startDT }}</p>
      <p><strong>Departure Date:</strong> {{ checkup.departDT }}</p>
      <p><strong>Comments:</strong> {{ checkup.comments }}</p>
      <p><strong>Completion Percentage:</strong> {{ checkup.completion_percentage }}%</p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
